 <div class="lc-block toggled" id="l-login">
 	<span class="text-lg text-bold text-primary">CHANGE PASSWORD</span>
	    <div class="input-group m-b-20">
	        <span class="input-group-addon"><i class="md md-lock"></i></span>
	        <div class="fg-line">
	            <input type="password" class="form-control" placeholder="New Password">
	        </div>
	    </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-lock"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
        </div>
        <div class="clearfix"></div>
            <br><br>
         <div class="btn-demo">
	        <button class="btn btn-success">Update</button>
	        <button class="btn bgm-gray">Cancel</button>
         </div>
         <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red">Register</li>
             <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
         </ul>
     </div>