 <div class="lc-block toggled" id="l-login">
 	<form name="form" class="form floating-label">
         <span class="text-lg text-bold text-primary">CHANGE PASSWORD</span>
        <div ng-if="vm.successFlag" class="alert alert-success"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
        <div ng-if="vm.flag" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>    
	    <div class="input-group m-b-20" ng-class="{ 'has-error': form.old_password.$dirty && form.old_password.$error.required }">
	        <span class="input-group-addon"><i class="md md-lock"></i></span>
	        <div class="fg-line">
	            <input type="password" class="form-control" placeholder="Current Password" id="old_password" name="password" ng-model="current_password">
	        </div>
	    </div>
         <div class="input-group m-b-20" ng-class="{ 'has-error': form.new_password.$dirty && form.new_password.$error.required }">
            <span class="input-group-addon"><i class="md md-lock"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="New Password" id="password" name="new_password" ng-model="new_password">
            </div>
        </div>
        <div class="input-group m-b-20"  ng-class="{ 'has-error': form.confirm_password.$dirty && form.confirm_password.$error.required }">
            <span class="input-group-addon"><i class="md md-lock"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Confirm Password" id="conf_password" name="conf_password" ng-model="confirm_password" pw-check="newpassword">
            </div>
        </div>
        <div class="msg-block" ng-show="form.$error"> <span class="msg-error" ng-show="form.conf_password.$error.pwmatch">Passwords don't match.</span> 
        <div class="clearfix"></div>
            <br><br>

        <img ng-if="vm.showLoader" ng-src="/images/loader.gif" alt="Please wait.." />
        
         <div class="btn-demo">
	        <button class="btn btn-success" ng-disabled="form.$invalid || invalidPassword || mismatch" ng-click="changepassword(cp)">Update</button>
	        <button class="btn bgm-gray">Cancel</button>
         </div>
         <!-- <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red">Register</li>
             <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
         </ul> -->
     </form>
</div>