<div class="card col-xs-10 col-sm-6 col-md-5 col-lg-3 form-signin">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div ng-if="vm.successFlag" class="alert alert-success"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
				<div ng-if="vm.flag" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
				<form name="forgot_form" class="form floating-label"  ng-submit="forgotpassword()">
	            	<span class="text-lg text-bold text-primary">Please enter your Email</span>
					<div class="form-group">
						<input type="email" class="form-control" name="email" ng-model="vm.email" required />
						<span ng-show="forgot_form.email.$dirty && forgot_form.email.$error.required">Email is required.</span>
        				<span ng-show="forgot_form.email.$dirty && forgot_form.email.$error.email">Invalid Email address.</span>
						<label for="username">Email Address</label>
					</div>
	                <div class="row">
	                	<br>
	               		 <button class="btn btn-block btn-info btn-raised" type="submit" ng-disabled="forgot_form.email.$dirty && forgot_form.email.$invalid" >Submit</button>
	                	 <a ui-sref="login">Back to Login</a>
	               </div>
				</form>
			</div>
		</div>
	</div>
</div>

  