<div class="card col-xs-10 col-sm-6 col-md-5 col-lg-3 form-signin">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<form name="signin_form" class="form floating-label">
	            	<span class="text-lg text-bold text-primary">Please enter your Email</span>
					<div class="form-group" 
						  ng-class="{ 'has-error': signin_form.email.$dirty && signin_form.email.$error.required }">
						<input type="email" class="form-control" ng-model='vm.email' 
						  name='uEmail' ng-pattern="/^[a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})$/" required >
						<label for="username">Email Id</label>
					</div>
	                <div class="row">
	                	<br>
	               		 <button class="btn btn-block btn-info btn-raised" type="submit" ng-click="forgotpassword()">Submit</button>
	                	 <a ui-sref="login">Back to Login</a>
	               </div>
				</form>
			</div>
		</div>
	</div>
</div>

  