 <div class="lc-block toggled" id="l-login">
         <div ng-if="vm.successFlag" class="alert alert-success"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
        <div ng-if="vm.flag" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
         <form name="forgot_form" class="form floating-label"  ng-submit="forgotpassword()">
            

            <div class="input-group m-b-20" ng-class="{ 'has-error': form.pw1.$dirty && form.pw1.$error.required }">
                <span class="input-group-addon"><i class="md md-email"></i></span>
                <div class="fg-line">
                    <input type="email" class="form-control" name="email" ng-model="vm.email" required  placeholder="Email Address"/>
                     <span ng-show="forgot_form.email.$dirty && forgot_form.email.$error.required">Email is required.</span>
                     <span ng-show="forgot_form.email.$dirty && forgot_form.email.$error.email">Invalid Email address.</span>
                </div>
            </div>
            
            <div class="clearfix"></div>
                <br><br>
             <div class="btn-demo">
                <button class="btn btn-success" type="submit" ng-disabled="forgot_form.email.$dirty && forgot_form.email.$invalid" >Submit</button>
                 <a class="btn bgm-gray" ui-sref="login">Back to Login</a>
             </div>
            
        </form> 
  </div>



