
    <div class="registration-form">
		<div class="logo center-block">
            <img src="styles/assets/img/logo1.png" alt="Clarion technologies" class="img-responsive">
        </div>
        <div class="card col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <form class="form form-validate floating-label">
                <h3 class="text-center text-uppercase">user registration form</h3>
                <div class="card-body floating-label">
                    <input  type="text" id="autocomplete1" class="form-control hidden" data-source="html/forms/data/countries.json.html" placeholder="Countries">
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="username" class="form-control">
                                    <label for="Firstname1">Username</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="empid" class="form-control">
                                    <label for="Lastname1">Employee ID</label>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="Firstname2" class="form-control">
                                    <label for="Firstname2">Firstname</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="Lastname2" class="form-control">
                                    <label for="Lastname2">Lastname</label>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="email" class="form-control">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <div id="demo-date" class="input-group date">
                                        <div class="input-group-content">
                                            <input type="text" class="form-control">
                                            <label>D.O.B</label>
                                        </div>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="form-group">
                                    <label class="col-sm-1 control-label"></label>
                                    <div class="col-sm-11">
                                    <label class="radio-inline radio-styled">
                                            <span>Status</span>
                                        </label>
                                        <label class="radio-inline radio-styled">
                                            <input type="radio" value="option1" name="inlineRadioOptions"><span>Active</span>
                                        </label>
                                        <label class="radio-inline radio-styled">
                                            <input type="radio" value="option2" name="inlineRadioOptions"><span>Non-active</span>
                                        </label>
                                    </div><!--end .col -->
                                </div>
                        
                    </div>
                    <div class="row">
                        <hr>
                        <table class="table table-bordered">
                                <thead class="style-default">
                                    <tr>
                                        <th>Role</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group ">
                                                <div id="start-date" class="input-group date">
                                                    <div class="input-group-content">
                                                        
                                                        <input type="text" class="form-control">
                                                        <label>Date</label>
                                                    </div>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                             <div class="form-group ">
                                                <div id="end-date" class="input-group date">
                                                    <div class="input-group-content">
                                                        <input type="text" class="form-control">
                                                        <label>Date</label>
                                                    </div>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                    <div class="row text-center">
                        <br><button class="btn ink-reaction btn-raised btn-lg btn-info" type="button">Submit</button>							
                    </div>
                </div><!--end .card-body -->
            </form>
		</div><!--end .card -->
    </div>
   