<section id="content">
    <div class="container"  ng-init="loadComboData()">
      <div class="block-header">
        <h2>Requisition Form</h2>
      </div>
      <div class="card">
        <div class="card-body card-padding">
          <p class="c-black f-500">Assignment Type </p>
          <div class="form-group">
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="inlineRadioOptions" value="option1">
              <i class="input-helper"></i> Billable </label>
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="inlineRadioOptions" value="option1">
              <i class="input-helper"></i> Non-Billable </label>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Customer Name</p>
              <div class="form-group">
                <div class="fg-line">
                  <div class="select">
                    <select  class="form-control" ng-model="selectedcustomerName">
                        <option value="">Select an Customer</option>
                        <option ng-repeat="customerName in customerNames" value="{{customerName.CLIENT_ID}}">{{customerName.CLIENT_NAME}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Certainty</p>
              <div class="form-group">
                <div class="fg-line">
                  <div class="select">
                   <select  class="form-control"ng-model="selectedcertainty">
                      <option value="">Select an Certainty</option>
                      <option ng-repeat="certainty in certaintys" value="{{certainty.name}}">{{certainty.certainityName}}</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Criticality</p>
              <div class="form-group">
                <div class="fg-line">
                  <div class="select">
                  <select  class="form-control"ng-model="selectedcriticality">
                      <option value=" ">Select an Criticality</option>
                      <option ng-repeat="criticality in criticalitys" value="{{criticality.name}}">{{criticality.name}}</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2>About Engagement</h2>
        </div>
        <div class="card-body card-padding">
          <p class="c-black f-500">Engagement Type.</p>
          <div class="form-group">
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="inlineRadioOptions" value="option1">
              <i class="input-helper"></i> Full Time </label>
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="inlineRadioOptions" value="option1">
              <i class="input-helper"></i> Part Time </label>
            <label class="radio radio-inline m-r-20">
              <input type="radio" name="inlineRadioOptions" value="option1">
              <i class="input-helper"></i> Hourly </label>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Anticipated Duration</p>
              <div class="form-group">
                <div class="fg-line">
                  <div class="select">
                   <select class="form-control"ng-model="selectedanticipatedDurations">
                      <option ng-repeat="anticipatedDuration in anticipatedDurations" value="{{anticipatedDuration.name}}">{{anticipatedDuration.name}}</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Expected Billing Start</p>
              <div class="form-group">
                <div class="fg-line">
                  <div class="select">
                    <select class="form-control">
                      <option>Select an Option</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="c-black f-500 m-b-20">Weekly Billing Rate</p>
              <div class="form-group">
                <div class="fg-line">
               <div class="select">
                    <select class="form-control">
                      <option>Select an Option</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
               </div>
              </div>
             </div>
              </div>
            </div>
          </div>
      <div class="card">
        <div class="card-body card-padding">
          <p class="c-black f-500">About Skill </p>
          <div class="form-group">
            <div class="col-sm-12 m-b-25">
              <p class="f-500 c-black m-b-15">Core Technology</p>
              <select class="selectpicker" multiple 
                     ng-model="selectedtechnologys">
                  <option ng-repeat="technology in technologys" >{{technology.name}}</option>
              </select>
            </div>
            <div class="col-sm-12">
              <p class="c-black f-500 m-b-20">Mandatory Skills</p>
              <div class="form-group">
                <div class="fg-line">
                  <textarea placeholder="Let us type some lorem ipsum...." rows="5" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <p class="c-black f-500 m-b-20">Criticality</p>
              <div class="form-group">
                <div class="fg-line">
                  <textarea placeholder="Let us type some lorem ipsum...." rows="5" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <p class="c-black f-500 m-b-20">Additional Information</p>
              <div class="form-group">
                <div class="fg-line">
                  <textarea placeholder="Let us type some lorem ipsum...." rows="5" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <div class="btn-demo">
                                <button class="btn btn-primary">Submit and add more</button>
                                <button class="btn btn-primary">Submit</button>
                                <button class="btn btn-gray">Cancel</button>
                            </div>
        </div>
      </div>
        </div>
   </section>