<!-- BEGIN BASE-->
<div id="base"></div>
    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas"></div><!--end .offcanvas-->
	<!-- END OFFCANVAS LEFT -->

	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body">
				<div class="col-lg-offset-2 col-lg-8">
					<form class="form-horizontal">
						<div class="card">
                            <div class="card-head style-info">
                                <header>Requisition Form</header>
                            </div>
                            <div class="card-body">
                            	<div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">      Assignment Type</label>
                                    <div class="col-sm-8">
                                      	<label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" value="option1"><span>Billable</span>
										</label>
										<label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" value="option2"><span>Non-Billable</span>
										</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">      Customer Name</label>
                                    <div class="col-sm-6">
                                        <select id="a" name="select13" class="form-control"ng-model="selectedcustomerName">
                                            <option ng-repeat="customerName in customerNames" value="{{customerName.name}}">{{customerName.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">Certainty</label>
                                    <div class="col-sm-6">
                                        <select id="b" name="select13" class="form-control"ng-model="selectedcertainty">
                                            <option ng-repeat="certainty in certaintys" value="{{certainty.name}}">{{certainty.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">Criticality</label>
                                    <div class="col-sm-6">
                                         <select id="b" name="select13" class="form-control"ng-model="selectedcriticality">
                                            <option ng-repeat="criticality in criticalitys" value="{{criticality.name}}">{{criticality.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-head card-head-sm style-primary">
                                    <header>About Engagement</header>
                                </div>
                                <div class="card-body card card-underline">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">Engagement Type</label>
                                    <div class="col-sm-8">
                                      	<label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" value="option1"><span>Full Time</span>
										</label>
										<label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" value="option2"><span>Part Time</span>
										</label>
                                        <label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" value="option2"><span>Hourly</span>
										</label>
									</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">Anticipated Duration</label>
                                    <div class="col-sm-6">
                                       <select id="d" name="select13" class="form-control"ng-model="selectedanticipatedDurations">
                                            <option ng-repeat="anticipatedDuration in anticipatedDurations" value="{{anticipatedDuration.name}}">{{anticipatedDuration.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="">Expected Billing Start</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="" class="form-control"><div class="form-control-line"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">Weekly Billing Rate</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                          <input type="text" aria-label="Text input with dropdown button" class="form-control">
                                          <div class="input-group-btn">
                                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Money <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                              <li><a href="#">$</a></li>
                                              <li><a href="#">Rs</a></li>
                                            </ul>
                                          </div><!-- /btn-group -->
                                        </div>
                                    </div><!--end .col -->
                                </div>
                                </div>
                                <div class="card-head card-head-sm style-primary">
                                    <header>About Skill</header>
                                </div>
                                <div class="card-body card card-underline">
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Username5">Core Technology</label>
                                    <div class="col-sm-6">
                                        <select id="e" name="select13" class="form-control"ng-model="selectedtechnologys">
                                            <option ng-repeat="technology in technologys" value="{{technology.name}}">{{technology.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="regular13">Mandatory Skills</label>
                                    <div class="col-sm-8">
                                       <textarea name="textarea13" id="textarea13" class="form-control" rows="3" placeholder=""></textarea>
                                       <div class="form-control-line"></div>
							
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="regular13">Additional Skills</label>
                                    <div class="col-sm-8">
                                       <textarea name="" id="" class="form-control" rows="3" placeholder=""></textarea>
                                       <div class="form-control-line"></div>
							        </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="regular13">Additional Information</label>
                                    <div class="col-sm-8">
                                       <textarea name="" id="" class="form-control" rows="3" placeholder=""></textarea>
                                       <div class="form-control-line"></div>
							        </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn ink-reaction btn-raised btn-lg btn-info">Submit and Add more</button>
                                        <button type="button" class="btn ink-reaction btn-raised btn-lg btn-info">Submit</button>
                                        <button type="button" class="btn ink-reaction btn-raised btn-lg btn-info">Cancel</button>
                                    </div><!--end .col -->
                                </div>

                                
                            </div><!--end .card-body -->
	                    </div><!--end .card -->
					</form>
				</div>
			</div><!--end .section-body -->
		</section>
	</div><!--end #content-->
<!-- END CONTENT -->