<div class="img-backdrop" style="background-image: url('styles/assets/img/bg-login.jpg')"></div>
	<div class="card col-xs-10 col-sm-6 col-md-5 col-lg-3 form-signin">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<form name="form" class="form floating-label">
	                	<span class="text-lg text-bold text-primary">CHANGE PASSWORD</span>
						<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
							<input type="password" class="form-control" id="password" name="password" ng-model="cp.password"> 
							<label for="password">New Password</label>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form.confirm_password.$dirty && form.confirm_password.$error.required }">
							<input type="password" class="form-control" id="password" name="password" ng-model="cp.confirm_password">
							<label for="password">Confirm Password</label>
						</div>
	                    <div class="row">
	                    <br>
	                    <button class="btn btn-block btn-info btn-raised" type="submit" ng-disabled="form.$invalid || invalidPassword || mismatch" ng-click="resetPassword(cp)">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>