 <div class="lc-block toggled" id="l-login">
 	   <form name="form" class="form floating-label">
	 	   <span class="text-lg text-bold text-primary">RESET PASSWORD</span>
	        <div ng-if="vm.successFlag" class="alert alert-success"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>
	        <div ng-if="vm.flag" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i>{{vm.message}}</div>    
		    <div class="input-group m-b-20" ng-class="{ 'has-error': form.pw1.$dirty && form.pw1.$error.required }">
		        <span class="input-group-addon"><i class="md md-lock"></i></span>
		        <div class="fg-line">
		            <input type="password" class="form-control" placeholder="New Password" id="pw1" name="pw1" ng-model="pw1" ng-required="">
		        </div>
		    </div>
	        
	        <div class="input-group m-b-20"  ng-class="{ 'has-error': form.pw2.$dirty && form.pw2.$error.required }">
	            <span class="input-group-addon"><i class="md md-lock"></i></span>
	            <div class="fg-line">
	                <input type="password" class="form-control" placeholder="Confirm Password" id="pw2" name="pw2" ng-model="pw2" ng-required pw-check="pw1"/>
	            </div>
	        </div>
	         <div class="msg-block" ng-show="form.$error"> <span class="msg-error" ng-show="form.pw2.$error.pwmatch">Passwords don't match.</span> 
	        <div class="clearfix"></div><br><br>

	        <img ng-if="vm.showLoader" ng-src="/images/loader.gif" alt="Please wait.." />
	        
	        <div class="btn-demo">
		        <button class="btn btn-success" ng-disabled="form.$invalid || invalidPassword || mismatch" ng-click="resetPassword()">Reset</button>
		        <a class="btn bgm-gray" ui-sref="login">Back to Login</a>
	        </div>
      
  </div>

